upstream varnish {
    server ${VARNISH_BACKEND:-varnish:80};
}

upstream webserver {
    server ${WEBSITE_BACKEND:-webserver:80};
}

upstream styleguide {
    server ${STYLEGUIDE_BACKEND:-styleguide:80};
}

upstream styleguide-public {
    server ${STYLEGUIDE_PUBLIC_BACKEND:-styleguide_public:80};
}
