server {
    listen 443 ssl http2;

    server_name ${DOMAIN_MAILHOG};

    include includes/mailhog;

    ssl_certificate /etc/nginx/ssl/${DOMAIN_ENV_SSL_CERTIFICATE:-cert.pem};
    ssl_certificate_key /etc/nginx/ssl/${DOMAIN_ENV_SSL_CERTIFICATE_KEY:-cert.key};
}
