map $$request_uri $$redirect_location_default {
    include redirects/domain.conf;
}

server {
    listen 443 ssl http2;

    server_name ${DOMAIN_ENV};

    if ($$redirect_location_default) {
        return 301 $$redirect_location_default;
    }

    include includes/neos;
    include includes/styleguide;

    ssl_certificate /etc/nginx/ssl/${DOMAIN_ENV_SSL_CERTIFICATE:-cert.pem};
    ssl_certificate_key /etc/nginx/ssl/${DOMAIN_ENV_SSL_CERTIFICATE_KEY:-cert.key};
}
