[mysqld]
#innodb_file_format=barracuda
#innodb_large_prefix=1
innodb_default_row_format=DYNAMIC

#basedir = /usr
#bind-address = 0.0.0.0
bulk_insert_buffer_size = 16M
concurrent_insert = 2
connect_timeout = 5
#datadir = /var/lib/mysql
#expire_logs_days = 10
ft_min_word_len = 3
group_concat_max_len = 10240
innodb_buffer_pool_size = 128M
innodb_file_per_table = 1
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
innodb_io_capacity = 400
innodb_lock_wait_timeout = 50
innodb_log_buffer_size = 8M
#innodb_log_files_in_group = 2
innodb_open_files = 400
#innodb_thread_concurrency = 16
interactive_timeout = 3600
join_buffer_size = 16M
key_buffer_size = 128M
#lc_messages = en_US
#lc_messages_dir = /usr/share/mysql
local-infile = 0
#log-error = /var/log/mysql/error.log
#log_queries_not_using_indexes = 1
#log_slow_verbosity = query_plan
#long_query_time = 1
max_allowed_packet = 16M
max_binlog_size = 100M
max_connections = 100
max_heap_table_size = 48M
myisam_sort_buffer_size = 512M
open_files_limit = 16384
#pid-file = /var/run/mysqld/mysqld.pid
#port = 3306
query_cache_limit = 4M
query_cache_size = 128M
query_cache_type = 1
read_buffer_size = 2M
read_rnd_buffer_size = 8M
safe-user-create = 1
skip-external-locking
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/mysql-slow.log
#socket = /var/run/mysqld/mysqld.sock
sort_buffer_size = 4M
#ssl = false
#ssl-ca = /etc/mysql/cacert.pem
#ssl-cert = /etc/mysql/server-cert.pem
#ssl-key = /etc/mysql/server-key.pem
thread_cache_size = 8
thread_stack = 256K
tmp_table_size = 48M
#tmpdir = /tmp
#user = mysql
#userstat = 1
wait_timeout = 60
