name: 'Build basic docker container'

on:
  schedule:
    - cron: 0 4 * * THU
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs: {}

jobs:
  docker:
    name: 'Build docker container'
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - name: mariadb
            context: ./containers/mariadb
            target: ''
            version: ''
            build-args: ''
          - name: mysql
            context: ./containers/mysql
            target: ''
            version: ''
            build-args: ''
          - name: proxy
            context: ./containers/proxy
            target: ''
            version: ''
            build-args: ''
          - name: rabbitmq
            context: ./containers/rabbitmq
            target: ''
            version: ''
            build-args: ''
          - name: redis
            context: ./containers/redis
            target: ''
            version: ''
            build-args: ''
          - name: solr
            context: ./containers/solr
            target: ''
            version: ''
            build-args: ''
          - name: varnish
            context: ./containers/varnish
            target: ''
            version: ''
            build-args: ''
          - name: elasticsearch
            context: ./containers/elasticsearch
            target: ''
            version: ''
            build-args: ''
          - name: webserver-neos
            context: ./containers/webserver
            target: 'webserver-neos'
            version: ''
            build-args: ''
          - name: webserver-typo3
            context: ./containers/webserver
            target: 'webserver-typo3'
            version: ''
            build-args: ''
          - name: webserver-shopware
            context: ./containers/webserver
            target: 'webserver-shopware'
            version: ''
            build-args: ''
          - name: webserver-static
            context: ./containers/webserver
            target: 'webserver-static'
            version: ''
            build-args: ''
          - name: flow-debugproxy
            context: ./containers/flow-debugproxy
            target: 'flow-debugproxy'
            version: 'master'
            build-args: ''
          - name: chromium
            context: ./containers/chromium
            target: 'chromium'
            version: 'stable'
            build-args: ''
          - name: mailhog
            context: ./containers/mailhog
            target: 'mailhog'
            version: '1.1.0'
            build-args: ''
          - name: styleguide
            context: ./containers/styleguide
            target: ''
            version: ''
            build-args: ''
          - name: php-fpm
            context: ./containers/php
            target: 'php-fpm'
            version: 7.2
            build-args: |
              PHP_VERSION=7.2
              UBUNTU_VERSION=18.04
          - name: php-fpm-dev
            context: ./containers/php
            target: 'php-fpm-dev'
            version: 7.2
            build-args: |
              PHP_VERSION=7.2
              UBUNTU_VERSION=18.04
          - name: php-cli
            context: ./containers/php
            target: 'php-cli'
            version: 7.2
            build-args: |
              PHP_VERSION=7.2
              UBUNTU_VERSION=18.04
          - name: php-cli-dev
            context: ./containers/php
            target: 'php-cli-dev'
            version: 7.2
            build-args: |
              PHP_VERSION=7.2
              UBUNTU_VERSION=18.04
          - name: php-cron
            context: ./containers/php
            target: 'php-cron'
            version: 7.2
            build-args: |
              PHP_VERSION=7.2
              UBUNTU_VERSION=18.04
          - name: php-fpm
            context: ./containers/php
            target: 'php-fpm'
            version: 7.4
            build-args: |
              PHP_VERSION=7.4
              UBUNTU_VERSION=20.04
          - name: php-fpm-dev
            context: ./containers/php
            target: 'php-fpm-dev'
            version: 7.4
            build-args: |
              PHP_VERSION=7.4
              UBUNTU_VERSION=20.04
          - name: php-cli
            context: ./containers/php
            target: 'php-cli'
            version: 7.4
            build-args: |
              PHP_VERSION=7.4
              UBUNTU_VERSION=20.04
          - name: php-cli-dev
            context: ./containers/php
            target: 'php-cli-dev'
            version: 7.4
            build-args: |
              PHP_VERSION=7.4
              UBUNTU_VERSION=20.04
          - name: php-cron
            context: ./containers/php
            target: 'php-cron'
            version: 7.4
            build-args: |
              PHP_VERSION=7.4
              UBUNTU_VERSION=20.04
          - name: php-fpm
            context: ./containers/php
            target: 'php-fpm'
            version: 8.1
            build-args: |
              PHP_VERSION=8.1
              UBUNTU_VERSION=22.04
          - name: php-fpm-dev
            context: ./containers/php
            target: 'php-fpm-dev'
            version: 8.1
            build-args: |
              PHP_VERSION=8.1
              UBUNTU_VERSION=22.04
          - name: php-cli
            context: ./containers/php
            target: 'php-cli'
            version: 8.1
            build-args: |
              PHP_VERSION=8.1
              UBUNTU_VERSION=22.04
          - name: php-cli-dev
            context: ./containers/php
            target: 'php-cli-dev'
            version: 8.1
            build-args: |
              PHP_VERSION=8.1
              UBUNTU_VERSION=22.04
          - name: php-cron
            context: ./containers/php
            target: 'php-cron'
            version: 8.1
            build-args: |
              PHP_VERSION=8.1
              UBUNTU_VERSION=22.04

    env:
      DOCKER_IMAGE: ghcr.io/netlogix/docker/${{ matrix.image.name }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Read version from dockerfile or matrix
        id: docker
        run: echo ::set-output name=version::$(./extract-version.sh ${{ matrix.image.context }}/Dockerfile ${{ matrix.image.version }})

      - name: Login to ghcr
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ${{ matrix.image.context }}
          target: ${{ matrix.image.target }}
          file: ${{ matrix.image.context }}/Dockerfile
          build-args: ${{ matrix.image.build-args }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ env.DOCKER_IMAGE }}:latest,${{ env.DOCKER_IMAGE }}:${{ steps.docker.outputs.version }}
          platforms: linux/amd64,linux/arm64
#          cache-from: type=gha, scope=${{ github.workflow }}
#          cache-to: type=gha, scope=${{ github.workflow }}
