name: 'Build redis docker image'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: 0 7 * * THU
  push:
    branches:
      - main
    paths:
      - redis/**
  pull_request:
    branches:
      - main
    paths:
      - redis/**
  workflow_dispatch:
    inputs: {}

jobs:
  version-matrix:
    name: 'Generate version-matrix'
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.version-matrix.outputs.matrix }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: ./.github/action/endoflife
        id: version-matrix
        with:
          product: 'redis'

      - name: Show matrix output
        run: echo '${{ steps.version-matrix.outputs.matrix }}'

  build-docker-image:
    name: 'Build redis docker image - ${{ matrix.image.name }} ()${{ matrix.image.version }})'
    needs: version-matrix
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        image: ${{ fromJson(needs.version-matrix.outputs.matrix) }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push (redis)
        uses: docker/build-push-action@v6
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: ./redis
          target: redis
          file: ./redis/Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ghcr.io/netlogix/docker/redis:latest,ghcr.io/netlogix/docker/redis:${{ matrix.image.name }}
          build-args: |
            REDIS_VERSION=${{ matrix.image.version }}
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha, mode=max

