name: Renovate
on:
  schedule:
    - cron: '0/15 * * * *'
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Validate Renovate configuration
        uses: suzuki-shunsuke/github-action-renovate-config-validator@v1.1.1
        with:
          config_file_path: .github/renovate.json

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.2
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_PLATFORM: github
          RENOVATE_TOKEN: ${{secrets.RENOVATE_TOKEN}}
          RENOVATE_GITHUB_COM_TOKEN: ${{secrets.RENOVATE_TOKEN}}
          RENOVATE_AUTODISCOVER: true
          RENOVATE_AUTODISCOVER_FILTER: 'netlogix/docker'