name: Renovate
on:
  schedule:
    - cron: "0 6 * * *" # Runs daily at 6 AM UTC
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.0.2
        with:
          token: "${{secrets.GITHUB_TOKEN}}"
        env:
          LOG_LEVEL: 'debug'